.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



#LangingPage1Parcial1TI {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgba(255,238,182,1);
  overflow: hidden;
  --web-view-name: LangingPage1Parcial1TI;
  --web-view-id: LangingPage1Parcial1TI;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
